$grey: #f4f4f4;
$mid-grey: #6b6b6b;
$dark: #191919;

$drop-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.3);
$inner-shadow: inset 0 4px 4px 0 rgba(0 0 0 / 0.5);
$img-shadow: 0 -4px 4px rgba(0 0 0 / 0.5);

@font-face {
	font-family: roboto-regular;
	src: url(/public/multimedia/fuentes/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto-thin;
	src: url(/public/multimedia/fuentes/Roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: roboto-light;
	src: url(/public/multimedia/fuentes/Roboto/Roboto-Light.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: roboto-regular;
}

body {
	background-color: $grey !important;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, minmax(1px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(50vh, 60vh));
	row-gap: 0;
	
	button {
		color: $grey;
		background-color: $dark;

		padding: 0.5em;

		border: none;
		border-radius: 7px !important;
	}

	img {
		border-radius: 15px !important;
	}
}

#menu {
	background-color: $dark;
	color: $mid-grey;

	height: 5vw;

	box-shadow: $drop-shadow;
	border-radius: 0 0 15px 15px;

	h1 {
		font-family: roboto-thin;
	}
}

a {
	color: $mid-grey !important;
	text-decoration: none;

	cursor: pointer;

	transition: 0.5s;
	svg {
		height: auto;
	}
	&:hover {
		color: $grey !important;
	}
}

#menu {
	a {
		svg {
			width: 50px;
		}
	}
}

#shopping-cart-trash {
	color: $mid-grey !important;
	&:hover {
		color: $dark !important;
	}
	svg {
		width: 35px !important;
	}
}

#footer {
	background-color: $dark;
	color: $mid-grey;

	width: 100vw;
	height: 6vw;

	position: absolute;
	bottom: 0;

	box-shadow: $drop-shadow;
	border-radius: 15px 15px 0 0;

	a {
		svg {
			width: 30px;
		}
	}
}

#shopping-cart {
	background-color: $grey;

	width: 20vw;
	height: 40vw;

	position: absolute;
	z-index: 4;
	top: 50%;

	overflow: auto;

	box-shadow: $drop-shadow;
}
